@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat-Italic.woff2') format('woff2'),
        url('./../fonts/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat-BoldItalic.woff2') format('woff2'),
        url('./../fonts/Montserrat-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('./../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('./../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('./../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./../fonts/OpenSans-Italic.woff2') format('woff2'),
        url('./../fonts/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./../fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('./../fonts/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./../fonts/SourceSansPro-Italic.woff2') format('woff2'),
        url('./../fonts/SourceSansPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


