$c-white: #FFFFFF;
$c-light-blue: #F1F2FF;
$c-light-dark: #00000029;
$c-light-orange: #FFFAF1;
$c-darklight-red: #C5C5C5;
$c-orange: #FFA25B;
$c-blue: #459DE9;
$c-black: #000000;

//
$fontJost-12:normal normal normal 12px/18px Jost;
$fontJost-12fw600: normal normal 600 12px/18px Jost;
$fontJost-14:normal normal normal 14px/10px Jost;
$fontJost-16:normal normal normal 16px/23px Jost;
$fontJost-18:normal normal 300 18px/26px Jost;
$fontJost-22:normal normal normal 22px/32px Jost;
$fontJost-44:normal normal normal 44px/64px Jost;
