$c-white: #FFFFFF;
$c-light-blue: #F1F2FF;
$c-light-dark: #00000029;
$c-light-orange: #FFFAF1;
$c-darklight-red: #C5C5C5;
$c-orange: #FFA25B;
$c-blue: #459DE9;
$c-black: #000000;
$c-light-gray: #8D8D8D;
$c-gray: #464646;


//
$fontJost-12: normal normal normal 0.75rem/1.125rem Jost;
$fontJost-12fw600: normal normal 600 0.75rem/1.125rem Jost;
$fontJost-14: normal normal normal 0.875rem/0.625rem Jost;
$fontJost-16: normal normal normal 1rem/1.438rem Jost;
$fontJost-18: normal normal 300 1.125rem/1.625rem Jost;
$fontJost-22: normal normal normal 1.375rem/2rem Jost;
$fontJost-44: normal normal normal 2.75rem/4rem Jost;