.--arrow-next {
    display: inline-block;
    text-decoration: none;
    background: url(../../assets/img/Arrow_1.svg) center center no-repeat;
    width: 23px;
    height: 11px;
    margin-left: 15px;

    @include breakpoint('md') {
        margin: 0;
    }

    &:hover {
        transition: all 0.4s ease;
        transform: scale(1.1);
    }

}