.button-more {
    width: 180px;
    height: 46px;
    border: none;
    cursor: pointer;
    background: $c-main-text;
    color: $c-white;
    font-family: 'latobold';
    font-size: 16px;
    line-height: 26.56px;
    letter-spacing: 0.05em;
}