.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.692);
    backdrop-filter: blur(5px);
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    transition: all .4s;
    opacity: 0;
    visibility: hidden;
    &.show-overlay{
        opacity: 1;
        visibility: visible;
    }
}