.section-header {
    font-family: 'RedHat-Regular';
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.1em;
    color: $c-main-title;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint('md') {
        flex-direction: column;
        align-items: unset;
        margin-bottom: 30px;
    }
}