@import './reset';
@import './mixin';
@import './breakpoints';
@import './const';
@import './mods';

.container {
    max-width: 1190px;
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;

    @include breakpoint() {
        max-width: $breakpoint-md;
        padding: 0 34px;
    }

    @include breakpoint('md') {
        max-width: 100%;
        padding: 0 5px;
    }
}

h2 {
    font-size: inherit;
}