.header {
    &__language {
        display: flex;
        justify-content: flex-end;
        padding-top: 10px;
    }
    &__selectLanguage{
        width: 61px;
    }
    &__selectLanguage::before{
        content: '';
        background: url(./assets/img/globalLang.svg);
        width: 12px;
        height: 12px;
        position: absolute;
        top: 10px;
        left: -6px;
    }
    
}
