.blog {
    padding-top: 70px;
        &__title {
           
        }

    &__item {
        @include flex-between;
        gap: 30px;
        margin-bottom: 50px;
            @include breakpoint() {
                column-gap: 20px;
            }
            @include breakpoint('md') {
                flex-direction: column;
                align-items: unset;
            }
    }

    &__item a{
        @include breakpoint('md') {
            width: 100%;
        }
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__img {
        width: 100%;
            @include breakpoint() {
                width: 340px;
            }
            @include breakpoint('md') {
                width: 100%;
            }
    }

    &__info {
        margin-right: auto;
    }
    
    &-information {
        &__subtitle {
            font-family: 'latoregular';
            font-size: 16px;
            line-height: 26.56px;
            letter-spacing: 0.1em;
            color: $c-main-subtitle;
            margin-bottom: 30px;
                @include breakpoint() {
                    margin-bottom: 20px;
                }
        }
    
        &__title {
            font-family: 'RedHat-Medium';
            font-size: 23px;
            line-height: 38px;
            letter-spacing: 0.1em;
            color: $c-main-title;
            margin-bottom: 15px;
            max-width: 369px;
        }
    
        &__date-published{
            font-family: 'latoregular';
            font-size: 16px;
            line-height: 26.56px;
            letter-spacing: 0.1em;
            color: $c-main-subtitle;
            margin-bottom: 50px;
                @include breakpoint() {
                    margin-bottom: 20px;
                }
        }
    
        &__text{
            max-width: 448px;
            font-family: 'latoregular';
            font-size: 16px;
            line-height: 26.56px;
            letter-spacing: 0.05em;
            color: $c-main-text;
        }
    }
}

.page-title {
    font-family: 'RedHat-Regular';
            font-size: 48px;
            line-height: 64px;
            letter-spacing: 0.05em;
            color: $c-main-title;
            margin-bottom: 50px;    
                @include breakpoint('md') {
                    text-align: center;
                }
}