.footer {
    background: #F4F4F4;
    width: 100%;

    &__wrapper {
        padding-bottom: 20px;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 70px;

        @include breakpoint() {
            padding-top: 50px;
        }

        @include breakpoint('md') {
            flex-direction: column;
            text-align: center;
            margin-bottom: 40px;
            padding-top: 50px;
        }
    }

    &__purpose {
        margin-bottom: 20px;
    }

    &__title {
        font-family: 'RedHat-Regular';
        font-size: 48px;
        line-height: 64px;
        letter-spacing: 0.05em;
        color: $c-main-title;
        margin-bottom: 30px;

        @include breakpoint('md') {
            font-size: 32px;
            line-height: 42px;
        }
    }

    &__text {
        font-family: 'latoregular';
        font-size: 16px;
        line-height: 26.56px;
        letter-spacing: 0.1em;
        color: $c-main-title;

        @include breakpoint('md') {
            font-size: 18px;
            line-height: 30px;
        }
    }

    &__tel {
        margin-bottom: 15px;
    }

    &__mail {}

    &__link {
        color: $c-main-title;
    }

    &__copyright {
        font-family: 'latoregular';
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.1em;
        color: $c-main-title;
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint('md') {
            max-width: 300px;
            text-align: center;
            font-size: 16px;
            line-height: 26px;
            margin: 0 auto;
        }
    }
}