.latest-posts {
    padding-top: 90px;
    margin-bottom: 90px;

    @include breakpoint() {
        padding-top: 70px;
        margin-bottom: 70px;
    }


    &__list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;

        @include breakpoint() {
            flex-flow: wrap;
        }
    }
}