.most-popular{
    margin-bottom: 90px;
        @include breakpoint() {
            margin-bottom: 70px;
        }
    
    &__list{
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;
            @include breakpoint() {
                column-gap: 20px;
            }
            @include breakpoint('md') {
                flex-direction: column;
                row-gap: 50px;
            }
    }

    &__btn{
        @include flex-between;
        margin: 0 auto;
    }
}