@import './../../assets/styles/consts';
@import './../../assets/styles/mixin';

.weatherCard {
    &__item {
        width: 20%;
        text-align: center,
    }

    &__card {
        width: 350px;
        height: 257px;
        border-radius: 5px;
    }

    &__cardBGPlus {
        background: $c-light-orange
    }

    &__cardBGMinus {
        background: $c-light-blue
    }
}

.card {
    &__wrapper {
        padding-left: 15px;
        padding-right: 20px;
        position: relative;
    }

    &__header {
        @include flex-center;
        justify-content: space-between;

    }

    &__city {
        font: $fontJost-16;
    }

    &__weather {
        @include flex-center;
    }

    &__close {
        position: absolute;
        background: url(./../../assets/img/close.svg) no-repeat center center;
        top: 5px;
        right: 7px;
        width: 11px;
        height: 11px;
        cursor: pointer;
        filter: invert(89%) sepia(0%) saturate(28%) hue-rotate(288deg) brightness(91%) contrast(88%);
    }

    &__weatherName {
        color: $c-darklight-red
    }

    &__timeNow {
        text-align: left;
        margin-bottom: 16px;
        font: $fontJost-18;
    }

    &__graph {
        margin-bottom: 17px;
    }

    &__info {
        @include flex-center;
        justify-content: space-between;
        color: $c-black;
        letter-spacing: 0px;
    }

    &__temperature {
        font: $fontJost-44;
        position: relative;
    }

    &__tempValue {
        display: inline-block
    }

    &__tempName {
        font: $fontJost-22;
        position: absolute;
        top: 0;
        display: inline-block;
        width: 58px;

    }

    &__whp {
        font: $fontJost-12;
    }

    &__whp>p {
        margin: 0 0 5px 0;

    }

    &__whp>p:last-child {
        margin: 0;
    }

    &__whpDataPlus {
        color: $c-orange;
        font: $fontJost-12fw600;
    }

    &__whpDataMinus {
        color: $c-blue;
        font: $fontJost-12fw600;
    }


    &__whpRTL>p {
        margin: 0 0 5px 0;
        text-align: right;
    }

    &__whpRTL>p:last-child {
        margin: 0;
    }
}

@include rtlLayout() {

    .card {
        &__tempName {
            direction: ltr;
        }

        &__tempValue {
            direction: ltr;
        }

        &__close {
            left: 30px;
            right: unset;
        }
    }
}

.isDefault {
    color: $c-light-gray;
    cursor: pointer;
}

.isActive {
    color: $c-black;
    cursor: pointer;
}